* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(66, 115, 66);
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: coral;
}

#container {
    margin: 50px auto;
    width: 300px;
    margin-bottom: 10px;
}

.form-wrap {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.form-wrap h1,
.form-wrap p {
    margin-bottom: 20px;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    color: grey;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(60, 59, 59);
}

.form-wrap button {
    width: 80%;
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-wrap .bottom-text {
    font-size: 12px;
}

footer {
    margin: 10px auto;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.form-wrap .bottom-text a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: white;
    font-weight: bold;
}

.form-wrap button:hover {
    background: chocolate;
}