* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    color: #333;
    padding: 1rem;

}

main {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#adbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Default z-index is 0, so 1 is closer to the reader and ad covers the page content. */
    width: 100%;
    background-color: white;
    padding: 10px;
}

.header-content {
    display: flex;
}

.logo {
    flex: 5;
    padding: 1.5rem;
}

ul {
    flex: 1;
    display: flex;
    flex-wrap: wrap;  
    list-style-type: none;
    align-items: center;
    height: 100%;
}

nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

ul li a {
    padding: 1rem;
    color: #333;
    text-decoration: none;
    display: block;
}

li:hover {
    background-color: rgb(175, 205, 230);
}

#first {
    font-size: 25px;
}

#box {
    align-items: center;
    margin-top: 70px;
    padding: 0px;
}

.grid-container {
    margin: auto;
    width: 80%;
    display: grid;
    text-align: center;
    grid-gap: 0.4rem;
    grid-template-areas: 
    "i1 i1 i2 i2 i3 i3" 
    "i1 i1 i2 i2 i3 i3" 
    "i1 i1 i4 i4 i3 i3" 
    "i1 i1 i4 i4 i3 i3" 
    "i5 i6 i6 i6 i3 i3" 
    "i7 i6 i6 i6 i8 i8" 
    "i9 i6 i6 i6 i8 i8";
    grid-template-rows: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
}

/* .img > img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    object-fit: cover;
    display: block;
  } */
  
.i1 {
    background-image: url("https://images.unsplash.com/photo-1529034502960-57f42a966080");
    background-size: cover;
    grid-area: i1;
}

.i2 {
    background-image: url("https://images.unsplash.com/photo-1530229540764-5f6ab595fdbe");
    background-size: cover;
    grid-area: i2;
}

.i3 {
    background-image: url("https://images.unsplash.com/photo-1519873174361-37788c5a73c7");
    background-size: cover;
    grid-area: i3;
}

.i4 {
    background-image: url("https://images.unsplash.com/photo-1533998839656-76f5e4b2bccb");
    background-size: cover;
    grid-area: i4;
}
.i5 {
    background-image: url("https://images.unsplash.com/photo-1554135392-28d77d7e8202");
    background-size: cover;
    grid-area: i5;
}

.i6 {
    background-image: url("https://images.unsplash.com/photo-1485955891060-a3318433e95f");
    background-size: cover;
    grid-area: i6;
}

.i7 {
    background-image: url("https://images.unsplash.com/photo-1542013936693-884638332954");
    background-size: cover;
    grid-area: i7;
}

.i8 {
    background-image: url("https://images.unsplash.com/photo-1517384084767-6bc118943770");
    background-size: cover;
    grid-area: i8;
}
.i9 {
    background-image: url("https://images.unsplash.com/photo-1510148832187-bfeaf1fa16d7");
    background-size: cover;
    grid-area: i9;
}

.form {
    margin-top: 30px;
    background-color: rgb(18, 18, 18);
    font-size: 13px;
    color: #b5b2b2;
    padding: 10px;
}

#container {
    width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin-bottom: 30px;
    margin: auto;
}

#contact {
    color: white;
    margin: 30px;
    text-align: center;
}

.input-form {
    border-radius: 5px;
    width: 100%;
}

label {
    text-align: left;
}

.button {
    text-align: center;
}

footer {
    font-size: 10px;
    color: rgb(139, 138, 138);
    text-align: center;
    margin: 10px auto; 
}

.form button {
    width: 10rem;
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px;
    
}

#container button:hover {
    background: rgb(230, 49, 70);
}

::placeholder {
    color: rgb(171, 172, 172);
    font-size: 11px;
}

@media (max-width: 450px) {
    #container {
        display: grid;
        width: 100%;
    }}