body {
    background-color: #f7f5f2; 
    font-family: "Open Sans Condensed", sans-serif; 
    color: #141414; 
    margin: 10px;
    line-height: 1.5;
}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
}

p {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
}

div {
margin: 15px 0;
}

label {
    display: inline-block;
    width: 100px;
}

input, button {
    font-family: inherit;
}

input {
    width: 200px;
    padding: 5px;
}

button {
    background-color: chocolate;
    border: none;
    padding: 5px 25px;
    color: white;
    border-radius: 2px;
    margin: 20px 0;
}