:root {
    --primary-color: rgb(219, 239, 120);
    --secondary-color: rgb(20, 113, 189);
    --neutral-color: cornsilk;
    --dark-color: #333;
    --light-color: #fff;
    --font: "Comfortaa", cursive;
    --gradient: linear-gradient(to right top, rgb(82, 213, 220) , rgb(237, 82, 237));
 }
 
 body {
    display: grid;
    justify-items: center;
    align-items: center;
    background: var(--gradient);
    font-family: var(--font);
    height: 100vh;
 }
 
 .card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    background: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark-color);
    transition: all 2s;
 }

 .card:hover {
    transform: rotate(125deg);
 }

.circle {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--light-color);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 300px;
    }
    50% {
        top: 300px;
        left: 300px;
    }
    75% {
        top: 300px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }

}
.menu-item h1::after {
    content: "";
    height: 4px;
    width: 0;
    display: inherit;
    background: var(--primary-color);
    transition: 1s ease-in all;

}

.menu-item:hover h1::after {
    width: 100%;
}
