* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {

    color: #333;
    padding: 1rem;
}

.header-content {
    display: flex;
}

.logo {
    flex: 5;
    padding: 1.5rem;
}

ul {
    flex: 1;
    display: flex;
    flex-wrap: wrap;  
    list-style-type: none;
    padding: 1.5rem;
    align-items: center;
}

a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem;
    font-size: 10px;
}

#box {
    background: url("https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlLHdhdGVyfHx8fHx8MTY5MzQ2ODA3Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600") no-repeat center center/cover;
    height: 70vh;
    margin: 0px;
    padding: 0px;
}

.h2 {
    padding: 0px;
    background-color: rgb(235, 223, 208);
    padding: 10px 0px 10px 0px;
  }

.div1 {
    padding: 50px 40px 100px 40px;
    margin: 50px 0px 50px 0px;
    font-size: 13px;
}

.div2 {
    background-color: rgb(235, 223, 208);
    padding: 50px 40px 100px 40px;
    margin: 50px 0px 50px 0px;
    font-size: 13px;
}

#first {
    font-size: 25px;
    display: flex;
}

#second {
    font-size: 50px;
    text-align: center;
    margin-top: 170px;
}

.img1, .img3 {
    float: left;
    width: 250px;
    padding: 0px 30px 30px 0px;
  }
  
.img2 {
    float: right;
    width: 300px;
    padding: 0px 0px 30px 30px;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

li:hover {
    background-color: rgb(231, 180, 206);
}

.form {
    background-color: rgb(18, 18, 18);
    font-size: 13px;
    color: #b5b2b2;
    padding: 10px;
}

#container {
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    color: white;
}

#contact {
    color: white;
    margin: 30px;
    text-align: center;
}

.input-form {
    width: 100%;
    border-radius: 5px;
}

#label {
    width: 20%;
}

#input {
    width: 80%;
}

td {

    vertical-align: top;
    padding-bottom: 20px;
}

.button{
    text-align: center;
}

footer {
    font-size: 10px;
    color: rgb(139, 138, 138);
    text-align: center;
    margin: 10px;
}

.form button {
    width: 10rem;
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

#container button:hover {
    background: chocolate;
}

::placeholder {
    color: rgb(171, 172, 172);
    font-size: 11px;
}


.form-group textarea {
    border-radius: 5px;
} 