* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(29, 152, 186);
    --secondary-color: rgb(238, 193, 200);
    --neutral-color: rgb(235, 223, 208);
    --dark-color: #333;
    --light-color: #fff;
    --font: "Lato", sans-serif;
    --gradient: linear-gradient(to right top, rgb(82, 213, 220) , rgb(237, 82, 237));
 }

body {
    font-family: var(--font);
    display: grid;

}

header {
    color: #333;
    padding: 1rem;
}

#adbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Default z-index is 0, so 1 is closer to the reader and ad covers the page content. */
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0px;
    position: fixed;
}

.header-content {
    display: flex;
}

.logo {
    flex: 5;
    padding: 1rem;
}

.logo a{
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    flex: 1;
    display: flex;
    flex-wrap: wrap;  
    list-style-type: none;
    align-items: center;
    height: 100%;
}

nav a {
    color: var(--dark-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

ul li a {
    padding: 1rem;
    color: var(--dark-color);
    text-decoration: none;
    display: block;
}

li:hover {
    background-color: var(--neutral-color);
}

#first {
    font-size: 25px;
}

#second {
    text-align: center;
    font-size: 50px;
}

.second h1::after {
    content: "";
    height: 4px;
    width: 0;
    display: inherit;
    background: var(--primary-color);
    transition: 0.5s ease-in all;
}

.second:hover h1::after {
    width: 100%;
}

#box {
    display: grid;
    justify-items: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlLHdhdGVyfHx8fHx8MTY5MzQ2ODA3Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600") no-repeat center center/cover;
    height: 70vh;
    margin-top: 60px;
    padding: 0px;
}

h2 {
    padding: 0px;
    padding: 20px 0px 30px 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
}

.box {
    width: 250px;
    height: 250px;
    border-style: double;
    border-color: #9d9b9b;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.5s all;
}

.box:hover{
    background-color: var(--secondary-color);
    width: 300px;
    border: none;
}
  

.box2 {
    width: 150px;
    height: 150px;
    color: var(--dark-color);
    border-style: double;
    border-color: #9d9b9b;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    transition: 0.5s all;
}

.box2:hover {
    width: 180px;
    height: 180px;
    -moz-box-shadow: 3px 3px 10px var(--secondary-color);
    -webkit-box-shadow: 3px 3px 10px var(--secondary-color);
    box-shadow: 3px 3px 10px var(--dark-color);
}

i {
    transition: 0.5s all;
}

.box2:hover .fa {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.project {
    font-size: 15px;
    font-weight: bold;
}

.about {
    display: flex;
}

#html5-skill, #css3-skill, 
#teaching-skill, #couching-skill {
    width: 100px;
}

#html5-skill::-webkit-meter-bar, #css3-skill::-webkit-meter-bar, #teaching-skill::-webkit-meter-bar, #couching-skill::-webkit-meter-bar {
    border-radius: 5px;
    height: 20px;
 
}
/* But in order to change the bar color, you need to target the values. */
#html5-skill::-webkit-meter-optimum-value, 
#css3-skill::-webkit-meter-optimum-value, 
#teaching-skill::-webkit-meter-optimum-value, 
#couching-skill::-webkit-meter-optimum-value {
    background-color: orange;
}

.italic {
    font-style: italic;
    text-align: left;
}

.link a {
    color: chocolate;
    text-transform: none;
    text-decoration: none;
}

article {
    padding: 40px;
    font-size: 13px;
}

article:nth-child(even) {
    background-color: var(--neutral-color);
}

.box2:nth-child(even) {
    background-color: rgb(229, 227, 227);
}

.box2:nth-child(odd) {
    background-color: rgb(200, 196, 196);
}

img {
    width: 100%;
    object-fit: cover;
}
  
.img2 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 350px;
    padding: 0px 0px 30px 30px;
    transition: 0.5s all;
}

.img2:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}
 
.grid-container {
    margin: auto;
    width: 90%;
    display: grid;
    text-align: center;
    grid-gap: 0.4rem;
    grid-template-areas: 
    "i1 i1 i2 i2 i3 i3" 
    "i1 i1 i2 i2 i3 i3" 
    "i1 i1 i4 i4 i3 i3" 
    "i1 i1 i4 i4 i3 i3" 
    "i5 i6 i6 i6 i3 i3" 
    "i7 i6 i6 i6 i8 i8" 
    "i9 i6 i6 i6 i8 i8";
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem 5rem;
}

.i1 {
    background-image: url("https://images.unsplash.com/photo-1529034502960-57f42a966080");
    background-size: cover;
    grid-area: i1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i1:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}


.i2 {
    background-image: url("https://images.unsplash.com/photo-1530229540764-5f6ab595fdbe");
    background-size: cover;
    grid-area: i2;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i2:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i3 {
    background-image: url("https://images.unsplash.com/photo-1517093911940-08cb5b3952e7");
    background-size: cover;
    grid-area: i3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i3:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i4 {
    background-image: url("https://images.unsplash.com/photo-1533998839656-76f5e4b2bccb");
    background-size: cover;
    grid-area: i4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i4:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i5 {
    background-image: url("https://images.unsplash.com/photo-1554135392-28d77d7e8202");
    background-size: cover;
    grid-area: i5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i5:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i6 {
    background-image: url("https://images.unsplash.com/photo-1485955891060-a3318433e95f");
    background-size: cover;
    grid-area: i6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i6:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i7 {
    background-image: url("https://images.unsplash.com/photo-1615033763013-eade12ef8de3");
    background-size: cover;
    grid-area: i7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i7:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i8 {
    background-image: url("https://images.unsplash.com/photo-1517384084767-6bc118943770");
    background-size: cover;
    grid-area: i8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i8:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.i9 {
    background-image: url("https://images.unsplash.com/photo-1510148832187-bfeaf1fa16d7");
    background-size: cover;
    grid-area: i9;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.i9:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: saturate(2);
}

.form {
    margin-top: 0px;
    background-color: rgb(18, 18, 18);
    font-size: 13px;
    color: #b5b2b2;
    padding: 10px;
}

#container {
    width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin-bottom: 30px;
    margin: auto;
}

#contact {
    color: white;
    margin: 30px;
    text-align: center;
}

.input-form {
    border-radius: 5px;
    width: 100%;
}

label {
    text-align: left;
}

.button {
    text-align: center;
}

.form button:hover {
    background: chocolate;
}

footer {
    font-size: 10px;
    color: rgb(139, 138, 138);
    text-align: center;
    margin: 10px auto; 
}

.form .send {
    width: 10rem;
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px;
}

#container button:hover {
    background: rgb(230, 49, 70);
}

::placeholder {
    color: rgb(171, 172, 172);
    font-size: 11px;
}

@media (max-width: 600px) {
    #container {
        display: grid;
        width: 100%;
    } .about {
        flex-direction: column-reverse;
    } .img2 {
        width: 100%;
    } .grid-container {
        width: 100%;
    } #backToTop {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    } .back {
        display: none;
    }
}

#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 0.5rem;
    background-color: coral;
    font-family: inherit;
    font-size: inherit;
    color: white;
}

#backToTop:hover {
    background: chocolate;
}

.btn{
    width: 60px;
}
