body {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1 {
        font-size: 40px;
        text-decoration-line: overline;
    }

    blockquote {
        font-family: 'Times New Roman', Times, serif;
    }

    img {
        width: 300px;
        height: auto;
    }

/* This is a comment */